name: Hello World

on: 
  push:
    branches:
      - main
  schedule:
    - cron: "*/10 * * * *" 
    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
     - name: this is my step
       run: echo 'hello world Iulian'

     - name : another task
       run: echo "This is another run"
